/* GENERAL */

*, *::before, *::after {
  box-sizing: border-box;
}

h1, p, span, div, header, main, footer, img, section, a {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Space Mono', monospace;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

/* CONTAINER */

.container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px auto 60px;
}

/* TITLE */

.title {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 40px 77px;
}

/* CONTENT */

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  padding: 0 77px;
}

.content img {
  max-width: 500px;
  align-self: flex-start;
}

.bad-news {
  flex: 1 1 390px;
  margin-left: 120px;
}

.bad-news h1 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1.5;
  color: #333333;
}

.bad-news p {
  font-size: 1.5em;
  font-weight: 400px;
  color: #4F4F4F;
  margin-top: 30px;
  max-width: 400px;
}

.call-to-action {
  display: inline-block;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  background: #333333;
  color: #fff;
  padding: 24px 43px;
  margin-top: 55px;
}

/* FOOTER */

.footer {
  font-size: 0.875em;
  font-weight: 700;
  text-align: center;
  color: #BDBDBD;
  padding: 20px 77px;
}

@media (max-width: 800px) {
  .content {
    padding: 0 15px;
  }

  .bad-news {
    margin-left: 15px;
  }  
}